<div class="my-3">
    <label for="form-label">Filter by:</label>
    <select name="review-filter" id="review-filter" class="form-control">
        <option value="recommended">Recommended</option>
        <option value="latest">Latest</option>
        <option value="oldest">Oldest</option>
        <option value="highest">Highest</option>
        <option value="lowest">Lowest</option>
    </select>
</div>