<Section id="product-details" class="product-details text-align-justify my-5">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quibusdam aliquid assumenda inventore totam molestias similique maxime laudantium! Deleniti eum veritatis maxime blanditiis sit? Fuga similique pariatur illo quaerat adipisci?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam magni corporis officia deleniti incidunt quaerat modi saepe? Iure, eaque eius. Sed accusantium suscipit accusamus dolore consequuntur nesciunt in excepturi voluptatum!
    </p>
    <div class="text-center">
        <img class="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhR2F9iUTRBXkZFqIj7_pEtP_fzSEK2iT5Ww&s" alt="">
    </div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt maiores illo eligendi, odit exercitationem quis error? Fuga recusandae blanditiis quam aliquid, molestias dolor dolorum voluptatum laudantium aut facere voluptas repudiandae!</p>
    <div class="text-center">
        <img class="" src="https://www.civilwarmed.org/wp-content/uploads/2021/02/peppermint-social.jpg" alt="">
    </div>
</Section>