<nav class="product-navbar sticky-top mb-4 py-2 z-1">
    <div class="d-flex justify-content-evenly">
        <div class="w-100 text-center border-needed">
            <a class="text-info-emphasis" href="#product-details">Details</a>
        </div>
        <div class="w-100 text-center border-needed">
            <a class="text-info-emphasis" href="#">Questions</a>
        </div>
        <div class="w-100 text-center">
            <a class="text-info-emphasis" href="#reviews">Reviews</a>
        </div>
    </div>
</nav>