<% layout('layouts/boilerplate') %>
<%- include('../partials/productComponents/productCategory', { categoryList }) %>
<%- include('../partials/products', { products }) %>
<a href="/products/new">Create</a>